<!DOCTYPE html>
<html>

<head>
  <title>Cocktail Details</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1>Cocktail Details</h1>
  <pre><%= JSON.stringify(cocktail, null, 2) %></pre>
</body>

</html>
