<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1>Error</h1>
  <p>An error occurred: <%= error.message %></p>
</body>

</html>
